<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
    </head>

<body>
    <h3>Real time chat</h3>
    <div>
        <input type="text" name="username" id="username">
        <button type="submit" onclick="find()" id="change_username">change userName</button>

        <div id="feedback"></div>

        <input type="text" name="" id="message">
        <button type="submit" id="change_message">Send message</button>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./js/index.js"></script>
</html>